@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    display: block;
    width: 100%;
    background-color: #383838;
    overflow-x: hidden;
}

header {
    display: block;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 100;
}

header div {
    display: flex;
    width: 320px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 0;
}

header div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.3s;
}

header div a:hover {
    color: #e6ff0a;
    transition-duration: 0.3s;
}

#header_active {
    color: #707070;
    transition-duration: 0.3s;
    cursor: context-menu;
}

.title {
    display: block;
    width: 100%;
    margin-top: 150px;
}

.title h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

main {
    display: block;
    width: 100%;
}

#main_container_home {
    display: block;
    width: 98%;
    margin: 100px auto 220px;
}

#spinner img {
    display: block;
    width: 150px;
    margin: auto;
    animation: spinner 0.5s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

#nomovies {
    display: block;
    width: 100%;
    margin: 200px auto 180px;
}

#nomovies h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#movies_list {
    display: block;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.movie {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 50px;
    background-color: #212121;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.movie_img {
    display: block;
    width: 250px;
}

.movie_img img {
    display: block;
    width: 95%;
    margin: 0 auto 15px;
}

.movie_body {
    display: flex;
    width: 550px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.movie_data {
    display: block;
    width: 190px;
    margin: auto;
}

.movie_data h2 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
}

.movie_desc {
    display: block;
    width: 340px;
    margin: auto;
}

.movie_desc p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.movie_buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.updateButton {
    background-color: #0008ff;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #000000;
    padding: 5px 20px;
    transition-duration: 0.3s;
}

.removeButton {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #000000;
    padding: 5px 20px;
    transition-duration: 0.3s;
}

.reviewsButton {
    background-color: #006430;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #000000;
    padding: 5px 20px;
    transition-duration: 0.3s;
}

.updateButton:hover,
.removeButton:hover,
.reviewsButton:hover {
    background-color: #e6ff0a;
    color: #000000;
    transition-duration: 0.3s;
}

.addmovie {
    display: block;
    width: 300px;
    margin: 100px auto 150px;
    background-color: #212121;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.addmovie input {
    width: 95%;
    margin-bottom: 10px;
}

footer { 
    display: block;
    width: 100%;
    background-color: #000000;
}

footer p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    padding: 50px 0 50px 20px;
    margin: 0;
}

@media only screen and (max-width: 850px) {
    .movie {
        width: 85%;
    }

    .movie_img {
        width: 40%;
        margin: auto;
    }
}

@media only screen and (max-width: 640px) {
    .movie {
        width: 90%;
    }

    .movie_img {
        width: 60%;
    }
    
    .movie_data {
        width: 90%;
    }

    .movie_data h2 {
        font-size: 19px;
    }

    .movie_desc {
        width: 90%;
    }

    .movie_desc p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .movie_img {
        width: 90%;
    }
}