@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    display: block;
    width: 100%;
    background-color: #383838;
}

header {
    display: block;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 100;
}

header div {
    display: flex;
    width: 220px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 0;
}

header div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.3s;
}

header div a:hover {
    color: #e6ff0a;
    transition-duration: 0.3s;
}

#header_active {
    color: #707070;
    transition-duration: 0.3s;
    cursor: context-menu;
}

.title {
    display: block;
    width: 100%;
    margin-top: 150px;
}

.title h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

main {
    display: block;
    width: 100%;
}

#main_container_home {
    display: block;
    width: 98%;
    margin: 180px auto 220px;
}

#main_container_home img {
    display: block;
    width: 150px;
    margin: auto;
    animation: spinner 0.5s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

footer { 
    display: block;
    width: 100%;
    background-color: #000000;
}

footer p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    padding: 50px 0 50px 20px;
}